@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Eissy微商城管理系统</h2>
    @*<p class="lead">Eissy时尚界的新宠,未来快时尚的领军.</p>
   
    <p><a href="http://www.eissy-fr.com" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>新品发布</h2>
        <p>
            将最新的商品发布到微商城，后台是通过口袋通提供的结构，进行处理的.
        </p>
        <p><a class="btn btn-default" href="/product/index">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>订单管理</h2>
        <p>及时查看，处理客户的订单信息.</p>
        <p><a class="btn btn-default" href="/Order/index">进入 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>客户信息</h2>
        <p>查看客户信息.</p>
        <p><a class="btn btn-default" href="/customer/index">进入 &raquo;</a></p>
    </div>
</div>